*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
body{
  background-color: rgba(0,0,0,.8);
}
.background{
  height: 300px;
  background-color: aqua;
}
.container{
  border-radius: 25px;
  min-height: 90vh;
  margin: auto 25px;
  margin-top: -250px;
  padding: 20px;
  background-color: white;
  border: .01px solid black;
  margin-bottom: 50px;
}
.input-group{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.input-group input{
  display: flex;
  margin-right: 20px;
  width: 30%;
  height: 40px;
  padding: 10px;
  border-radius: 10px ;
  background-color: rgba(0,0,0, .8);
  color: aqua;
}
.input-group button{
  width: 70px;
  border-radius: 10px;
  color: aqua;
  background-color: rgba(0,0,0, .8);
}
button:active{
  background-color: aqua;
  color: rgba(0,0,0,.8);
}
::placeholder{
  color: aqua;
}
#output {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 60vh;
  border: .01px solid rgba(0,0,0,.8);
  background-color: aqua;
  padding: 5px;
  border-radius: 10px;
}
h1{
  text-align: center;
}
p{
  font-size: 15px;
}
