*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  color: rgba(0,0,0,.8);
}
body{
  margin: auto;
  background-color: rgba(0,0,0,.8);
}
.background{
  height: 300px;
  background-color: aqua;
}
.container{
  border-radius: 25px;
  min-height: 90vh;
  margin: auto 25px;
  margin-top: -250px;
  padding: 20px;
  background-color: white;
  border: .01px solid black;
  margin-bottom: 50px;
}
.input-group{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.input-group input{
  display: flex;
  margin-right: 20px;
  width: 30%;
  height: 40px;
  padding: 10px;
  border-radius: 10px ;
  background-color: rgba(0,0,0, .8);
  color: aqua;
}
.input-group button{
  width: 70px;
  border-radius: 10px;
  color: aqua;
  background-color: rgba(0,0,0, .8);
}
button:focus,input:focus{
  background-color: aqua;
  color: rgba(0,0,0,.8);
  cursor: pointer;
}
::placeholder{
  color: aqua;
}
#output {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1{
  text-align: center;
}
p{
  font-size: 15px;
}

@media (min-width: 700px){
  .container{
    max-width: 500px;
    margin: auto;
    margin-top: -250px;
    min-height: 50vh;
  }
}
